<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseBaseMapper">
    <select id="findCourseListPage" resultType="com.xuecheng.framework.domain.course.ext.CourseInfo">
       SELECT course_base.* ,pic.*
        FROM
        course_base,course_pic,(SELECT pic FROM course_pic) pic
        WHERE
        course_base.id = course_pic.courseid
    </select>
    <select id="findCourseBaseById" parameterType="String" resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from  course_base where id = #{id};
    </select>

    
</mapper>